# Ignore everything except .gitignore and src/kern/
/*
!.gitignore
!src/
src/*
!src/kern/

# Ignore inside src/kern/
.DS_Store

# Ignore everything inside compile except .gitkeep
src/kern/compile/*
!src/kern/compile/.gitkeep